<form action="">

{{#each data.fields }}
  <div class="mb-3">
    <label for="{{this.name}}" class="form-label">{{this.value}}</label>
    <input type="{{this.type}}" name="{{this.name}}" class="form-control" id="{{this.name}}">
  </div>
{{/each}}

  <button type="submit" class="btn btn-primary">Go Mad!</button>


</form>

{{!-- 
http://www.madtakes.com/libs/030.html

Yesterday, me and placeholder of my friends took a trip to the mall. While we were there we saw this really placeholder store called placeholder`s Pets. We saw placeholder and placeholder placeholder in the store display. So we had to go inside. They had miniture placeholder and placeholder little bunnies. We even got to play with the placeholder placeholder in the placeholder. I want a/an placeholder so much!  --}}